*, *:before, *:after {
    box-sizing: 0;
    margin: 0;
    padding: 0;
}

body {
    display: block;
    position: relative;
    width: 100vm;
    overflow-x: hidden;
    font-size: 1vm;
}

#root {
    background-color: #fff;
    min-height: 100vh;
}